<form [formGroup]="myForm">
    <div className="container border border-warning shadow-lg mt-5 p-3 ">
        <div class="row">
            <input className="form-control mt-2 border border-info" type="text" placeholder="Enter id"  formControlName="id" />
            <br>
            <input className="form-control mt-2 border border-info" type="text" placeholder="Enter FacultyName" formControlName="FacultyName" /> <br>
            <input className="form-control mt-2 border border-info" type="text" placeholder="Enter FacultyImage" formControlName="FacultyImage" /> <br>
            <input className="form-control mt-2 border border-info" type="text"
                placeholder="Enter FacultyDesignation" formControlName="FacultyDesignation"/> <br>
            <input className="form-control mt-2 border border-info" type="text"
                placeholder="Enter FacultyEducationQualification" formControlName="FacultyEducationQualification"/> <br />
            <input className="form-control mt-2 border border-info" type="text" placeholder="Enter FacultyExperience" formControlName="FacultyExperience" />
            <br>
            <input className="form-control mt-2 border border-info" type="text"
                placeholder="Enter FacultyWorkingSince" formControlName="FacultyWorkingSince" /><br />
        </div>
    </div>
</form>